<html>
    <head>
        <title>Example</title>
    </head>
    <body>
        <ul>
            <li>{{ title }}</li>
            <li>{{ url }}</li>
        </ul>

        {% import "paragraph.njk" as paragraph %}
        {{ paragraph.textValue("hello", "goodbye") }}

    </body>
</html>