<html>
    <head>
        <title>Example</title>
    </head>
    <body>
    <h1>Form</h1>
        <form action="/form" method="POST">
            <input type="text" name="title" placeholder="Title" />
            <input type="text" name="url" placeholder="URL" />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>